:root {
    --container-height: 500px;
    --container-width: 500px;
    --cell-size: calc(var(--container-height) / 3);
    font-family: 'Varela Round', sans-serif;
    --markSize: calc(var(--cell-size)*.9);
    /*color palette*/
    --blue: #2F2FA2;
    --red: #F64C72;
    --brown: #553D67;
    --dark-blue: #242582;
    display: flex;
    justify-content: center;
}

body {
    background-color: var(--dark-blue);
}

.container {
    margin: 50px 0;
    height: var(--container-height);
    width: var(--container-width);
    display: grid;
    background-color: var(--blue);
    outline: solid 5px var(--red);
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--markSize);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
}

.cell.alpaca-fill {
    background-image: url(./alpaca.svg);
}

.cell.crab-fill {
    background-image: url(./crab.svg);
}

.cell.alpaca-outline:hover {
    background-image: url(./alpaca-outline.svg);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
}

.cell.crab-outline:hover {
    background-image: url(./crab-outline.svg);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
}

dialog {
    display: none;
    max-height: auto;
    max-width: auto;
    z-index: 1;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

dialog[open] {
    display: flex;
    flex-direction: column;

    font-size: 1.3rem;
}

::backdrop {
    background-color: rgba(0, 0, 0, .4);
}

#restart-btn {
    width: 150px;
    height: 60px;
    font-size: 1.3rem;
    border-radius: 5px;
}

#restart-btn:hover {
    background-color: rgba(0, 0, 0, .2);
}


/* fix svg paths